@tailwind base;
@tailwind components;
@tailwind utilities;

.current {
  background-color: #6524D3;
  color: white;
}


/* styles/globals.css */
body {
  font-family: 'Monda', sans-serif;
}

h1,h2,h3,h4,h5,h6,Typography {
  font-family: 'Monda', sans-serif;

}